In [1]:
import pandas as pd
import numpy as np

In [2]:
s=pd.Series([1,3,5,np.nan,6,8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
s=pd.Series([1,3,5,np.nan,6,8],index=['a','b','c','d','e','f']) #np.nan是空值
s

a    1.0
b    3.0
c    5.0
d    NaN
e    6.0
f    8.0
dtype: float64

In [5]:
s.index

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [6]:
s.values

array([ 1.,  3.,  5., nan,  6.,  8.])

In [7]:
s.index.name = '索引'
s

索引
a    1.0
b    3.0
c    5.0
d    NaN
e    6.0
f    8.0
dtype: float64

In [8]:
s[2:5]  #切片

索引
c    5.0
d    NaN
e    6.0
dtype: float64

In [9]:
s[::2]   #间隔2切片

索引
a    1.0
c    5.0
e    6.0
dtype: float64

## pandas库的DataFrame类型

In [13]:
date = pd.date_range('20200121',periods = 6)    #构造一维数组
print(date)

DatetimeIndex(['2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24',
               '2020-01-25', '2020-01-26'],
              dtype='datetime64[ns]', freq='D')

In [14]:
df = pd.DataFrame(np.random.randn(6,4))        #创建一个dataframe结构
df

          0         1         2         3
0  1.713515  0.402500  0.492342 -1.438880
1  0.769808 -1.255720 -1.172339 -0.523847
2 -2.230968  0.046345 -0.268554 -1.094228
3 -1.085786 -0.854338  1.421250  0.914061
4  0.796893  0.722519 -0.850457 -0.570642
5  0.237462 -1.724818  0.393978 -0.181643

In [15]:
df = pd.DataFrame(np.random.randn(6,4),index = date,columns = list('ABCD'))
df

                   A         B         C         D
2020-01-21  1.077458 -0.094954 -0.184778  1.781067
2020-01-22  0.300634 -1.097695 -0.342496 -1.652198
2020-01-23  1.811623  0.184938  0.899810  1.083316
2020-01-24 -0.824789 -0.808808  0.460975 -0.179950
2020-01-25  0.562630  2.067687 -1.610661  0.717830
2020-01-26 -0.222497 -1.034871 -0.861666  0.304976

In [17]:
df = pd.read_excel(r'f:/dev/data/豆瓣电影数据.xlsx')
df.head()

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港